{% extends 'admin_home.html' %}

{% block content %}
  <div class="container mt-4">
    <h1>Tableau de Bord</h1>
    <div class="row">
      <!-- Carte pour le nombre de clients -->
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body d-flex align-items-center">
            <i class="fas fa-users fa-3x mr-3 text-primary"></i>
            <div>
              <h5 class="card-title">Nombre de Clients</h5>
              <p class="card-text">{{ nb_clients }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Carte pour le nombre de comptes -->
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body d-flex align-items-center">
            <i class="fas fa-wallet fa-3x mr-3 text-success"></i>
            <div>
              <h5 class="card-title">Nombre de Comptes</h5>
              <p class="card-text">{{ nb_comptes }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="chart">
        <canvas id="transactionChart"></canvas>
    </div>
</div>

<!-- Charger le script Chart.js depuis un CDN -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  // Récupérer les données JSON
  const moisLabels = JSON.parse('{{ mois_labels_json|escapejs }}');
  const debitData = JSON.parse('{{ debits_par_mois_json|escapejs }}');
  const creditData = JSON.parse('{{ credits_par_mois_json|escapejs }}');

  console.log('Mois Labels:', moisLabels);
  console.log('Debit Data:', debitData);
  console.log('Credit Data:', creditData);

  // Créer le graphique
  const ctx = document.getElementById('transactionChart').getContext('2d');
  const transactionChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: moisLabels,
          datasets: [
              {
                  label: 'Crédit',
                  data: creditData,
                  backgroundColor: 'rgba(54, 162, 235, 0.2)',
                  borderColor: 'rgba(54, 162, 235, 1)',
                  borderWidth: 1
              },
              {
                  label: 'Débit',
                  data: debitData,
                  backgroundColor: 'rgba(255, 99, 132, 0.2)',
                  borderColor: 'rgba(255, 99, 132, 1)',
                  borderWidth: 1
              }
          ]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
</script>
{% endblock %}
