{% extends 'admin_home.html' %}

{% block content %}
<div class="container">
  <div class="header">
    <h1>Clients List</h1>
    <button id="openModal" class="btn btn-create">Create New Client</button>
  </div>
   <!-- Conteneur pour les messages flash -->
   {% if messages %}
   <div class="message-container">
     {% for message in messages %}
       <div class="message {{ message.tags }}">{{ message }}</div>
     {% endfor %}
   </div>
 {% endif %}
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Username</th>
        <th>Email</th>
        <th>Address</th>

        <th>Date de naissance</th>
        <th>Actions</th>
      </tr>
    </thead>
    
      <tbody>
        {% for client in clients %}
        <tr>
          <td>{{ client.clientid }}</td>
          <td>{{ client.clientnom }}</td>
          <td>{{ client.clientprenom }}</td>
          <td>{{ client.clientusername }}</td>
          <td>{{ client.clientemail }}</td>
          <td>{{ client.clientadresse }}</td>
          <td>{{ client.clientdn }}</td>
          <td>
            <a href="#" class="action-icon" title="View Accounts">
              <i class="fa-solid fa-user"></i>
            </a>
            <a href="#" class="action-icon" title="Edit">
              <i class="fa-solid fa-pen"></i>
            </a>
            <form method="POST" action="{% url 'delete_client' client.clientid %}" style="display:inline;" class="delete-client-form" onclick="return confirm('Are you sure you want to delete this client?');">
              {% csrf_token %}
              <button type="submit" class="action-icon" title="Delete">
                  <i class="fa-solid fa-minus"></i>
              </button>
          </form>
          </td>
        </tr>
      
      {% empty %}
      <tr>
        <td colspan="8">No clients available.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Modal -->
  <div id="clientModal" class="modal">
    <div class="modal-content">
      <span id="closeModal" class="close">&times;</span>
      <h2>Veillez remplir les informations</h2>
      <form method="POST" action="{% url 'create_client' %}">
        {% csrf_token %}
        <label for="clientnom">Nom :</label>
        <input type="text" class="form-control" id="clientnom" name="clientnom" required>

        <label for="clientprenom">Prénom :</label>
        <input type="text" class="form-control" id="clientprenom" name="clientprenom" required>

        <label for="clientemail">Email :</label>
        <input type="email" class="form-control" id="clientemail" name="clientemail" required>

        <label for="clienttelephone">Téléphone :</label>
        <input type="text" class="form-control" id="clienttelephone" name="clienttelephone" required>

        <label for="clientadresse">Adresse :</label>
        <input type="text" class="form-control" id="clientadresse" name="clientadresse" required>

        <label for="clientdn">Date de naissance :</label>
        <input type="date" class="form-control" id="clientdn" name="clientdn" required>

        <div class="form-buttons">

          <a href="{% url 'clients' %}" class="btn btn-cancel">Annuler</a>
          <button type="submit" class="btn btn-create">Submit</button>
        </div>
      </form>
    </div>
  </div>
  {% if messages %}
  <div class="success-dialogue">
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
  </div>
  {% endif %}

  <style>
    /* Styles pour la modale */
    .modal {
      display: none; /* Caché par défaut */
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0.4);
    }

    .modal-content {
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      max-width: 600px; /* Optionnel : définit une largeur maximale pour le modal */
    }

    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }

    /* Styles pour la disposition du header */
    .header {
      display: flex;
      justify-content: space-between; /* Aligne le titre à gauche et le bouton à droite */
      align-items: center;
      margin-bottom: 20px;
    }

    .header h1 {
      margin: 0;
    }

    /* Styles pour le formulaire */
    form {
      display: flex;
      flex-direction: column; /* Aligne les éléments du formulaire en colonne */
    }

    label {
      margin-top: 10px;
      font-weight: bold;
    }

    input {
      padding: 10px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .form-buttons {
      display: flex;
      justify-content: space-between; /* Aligne les boutons de soumission et d'annulation */
      margin-top: 20px;
    }

    .success-dialogue {
      position: absolute;
      top: 20px;
      right: 20px;
      background-color: #79e988;
      color: #0b2509;
      border: 1px solid rgb(13, 107, 29);
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
      z-index: 1000;
      display: flex;
      align-items: center;
    }

    /* Styles pour les icônes d'action */
    .action-icon {
  text-decoration: none;
  color: #333;
  margin: 0 5px;
  font-size: 1.2em;
  display: inline-block; /* Assure que les icônes sont affichées correctement */
}

.action-icon:hover {
  color: #007bff;
}

  </style>

  <script>
    // JavaScript pour ouvrir et fermer la modale
    document.addEventListener('DOMContentLoaded', function() {
      var modal = document.getElementById("clientModal");
      var btn = document.getElementById("openModal");
      var span = document.getElementById("closeModal");

      btn.onclick = function() {
        modal.style.display = "block";
      }

      span.onclick = function() {
        modal.style.display = "none";
      }

      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    });
    function delete_client(event) {
    event.preventDefault(); // Empêche le comportement par défaut du lien
    var clientId = event.currentTarget.getAttribute('data-client-id');
    var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    
    if (confirm('Are you sure you want to delete this client?')) {
      fetch(`/delete_client/${clientId}/`, {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': csrfToken
        }
      })
      .then(response => {
    if (response.ok) {
        // Supprimer la ligne du tableau
        event.currentTarget.closest('tr').remove();
        //alert('Client deleted successfully.');
    } else {
        // Afficher les détails de l'erreur
        response.text().then(errorText => {
            alert(`An error occurred while deleting the client: ${errorText}`);
        });
    }
})

      .catch(error => {
        console.error('Error:', error);
        alert('An error occurred while deleting the client.');
      });
    }
  }
  
  </script>
  <script> setTimeout(function() {document.querySelector('.error-dialogue').style.display = 'none';}, 5000); // 5000 milliseconds = 5 seconds </script>
  <script> setTimeout(function() {document.querySelector('.success-dialogue').style.display = 'none';}, 5000); // 5000 milliseconds = 5 seconds </script>
  <script>
    // JavaScript to set the max date to today
    document.addEventListener('DOMContentLoaded', function() {
        // Get today's date in the format YYYY-MM-DD
        var today = new Date().toISOString().split('T')[0];
        
        // Set the max attribute of the date input
        document.getElementById('clientdn').setAttribute('max', today);
    });
    </script>
</div>
{% endblock %}
