{% extends 'admin_home.html' %}

{% block content %}
<div class="container">
  <div class="header">
    <h1>Clients List</h1>
    <button id="openModal" class="btn btn-create">Create New Client</button>
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Username</th>
        <th>Email</th>
        <th>Address</th>
        
        <th>Date de naissance</th>
      </tr>
    </thead>
    <tbody>
      {% for client in clients %}
      <tr>
        <td>{{ client.clientid }}</td>
        <td>{{ client.clientnom }}</td>
        <td>{{ client.clientprenom }}</td>
        <td>{{ client.clientusername }}</td>
        <td>{{ client.clientemail }}</td>
        <td>{{ client.clientadresse }}</td>
        <td>{{ client.clientdn }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="7">No clients available.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Modal -->
  <div id="clientModal" class="modal">
    <div class="modal-content">
      <span id="closeModal" class="close">&times;</span>
      <h2>Veillez remplir les informations</h2>
      <form id="clientForm" method="POST" action="{% url 'create_client' %}">
        {% csrf_token %}
        <label for="clientnom">Nom :</label>
        <input type="text" class="form-control" id="clientnom" name="clientnom" required>

        <label for="clientprenom">Prénom :</label>
        <input type="text" class="form-control" id="clientprenom" name="clientprenom" required>

        <label for="clientemail">Email :</label>
        <input type="email" class="form-control" id="clientemail" name="clientemail">

        <label for="clienttelephone">Téléphone :</label>
        <input type="text" class="form-control" id="clienttelephone" name="clienttelephone">

        <label for="clientadresse">Adresse :</label>
        <input type="text" id="clientadresse" name="clientadresse" required>

        <label for="clientdn">Date de naissance :</label>
        <input type="date" class="form-control" id="clientdn" name="clientdn" max="{{ today }}" required>

        <button type="submit" class="btn btn-create">Submit</button>
        <a href="{% url 'clients' %}" class="btn btn-cancel">Annuler</a>
      </form>
    </div>
  </div>

  <style>
    /* Styles pour la modale */
    .modal {
      display: none; /* Caché par défaut */
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0.4);
    }

    .modal-content {
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
    }

    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
    /* Styles pour la disposition du header et du tableau */
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }

    .header h1 {
      margin: 0;
    }

    form {
      display: flex;
      flex-direction: column;
    }

    label {
      margin-top: 10px;
    }

    input {
      padding: 10px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .error {
      color: red;
      margin-top: 10px;
    }
  </style>

  <script>
    // JavaScript pour ouvrir et fermer la modale
    var modal = document.getElementById("clientModal");
    var btn = document.getElementById("openModal");
    var span = document.getElementById("closeModal");

    btn.onclick = function() {
      modal.style.display = "block";
    }

    span.onclick = function() {
      modal.style.display = "none";
    }

    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

    // Validation JavaScript pour la date de naissance
    document.getElementById('clientForm').onsubmit = function(event) {
      var clientdn = document.getElementById('clientdn').value;
      var today = new Date().toISOString().split('T')[0];
      if (clientdn > today) {
        event.preventDefault(); // Empêche l'envoi du formulaire
        alert('La date de naissance ne peut pas être une date future.');
      }
    }
  </script>
</div>
{% endblock %}
